
main:before{
  content: '';
  width: 200px;
  height: 200px;
  top: 0;
  right: -100px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  border:20px solid #ea3b6c;
}
main:after{
  content: '';
  width: 200px;
  height: 200px;
  bottom: -100px;
  left: 0;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-color: #eff0f5;
  border:20px solid #eff0f5;
}
main{
width: 100vw !important;
position: relative;
margin: 73px 0;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
text-align: center;
}
main .hero-information{
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-break: auto;
}
main .hero-information h1{
  color: #667eea;
}
main .hero-image .image{
  height: 400px;
  width: 400px;
  position: relative;
  z-index: 3;
}
/* END MAIN */
.first-member{
  height: calc(100vh - 73px);
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.image{
  width: 400px;
  height: 300px;
  background-size:auto;
  border-radius: 12px;
}
.first-member-image{
  position: relative;
}

.member-information{
  line-height: 1.75;
  border-radius: 12px;
  padding: 25px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.member-information h2{
  color: #667eea;
  align-self: flex-start !important;
}
.member-information ul li{
  list-style: none;
  float: right;
  align-self: flex-end !important;
  margin: 0 15px;
}
.member-information p{
  text-align: left;
}
/* Fisrt child icon styling */
.contact-accounts{
  list-style: none;
  position: absolute;
  bottom: 10px;
  left: -22.5px;
}
.icon{
  width: 45px;
  margin: 20px 0;
  height: 45px;
  transition: color .3s linear;
  background-color: #fff;
  border-radius: 50%;
  color: #ffffff;
  position: relative;
  z-index: 3;
}
.icon::before{
  content: '';
  background-color: #121212;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}
.icon:hover{
  color: #667eea;
}
/* Second Memeber */
.second-member-image{
  position: relative;
}
.second-member{
 height: calc(100vh - 73px);
  position: relative;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.second-member-image{
  position: relative;
}
section:nth-child(even):after{
  content:'';
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  border: 20px solid #ea3b6c;
  bottom: -100px;
  left: -150px;
  z-index: -1;
}
section:nth-child(odd):after{
  content:'';
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  border: 20px solid #eff0f5;
  bottom: -100px;
  right: -150px;
  z-index: -1;
}
.second-member-image:before{
  content: '';
  width: 800px;
  height: 500px;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: -1;
  background-color: #454545;
  border-radius: 12px;
}
.second-element{
  right: -22.5px !important;
  left: unset;
}
/* Third Member */
.third-member-image{
  position: relative;
}
.third-member{
  height: calc(100vh - 146px);
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
@keyframes floating {
  0% {transform: translateY(0)}
  50% {transform: translateY(10px)}
  100%{transform: translateY(0)}
}

@media(max-width:760px){
  nav{
    justify-content: space-between;
    padding: 0 10px;
  }
  .first-member{
    margin:146px 0;
    height: unset;
    flex-flow: column-reverse;
  }
  .second-member,.third-member{
margin: 73px 0;
height: unset;
 flex-direction: column-reverse;
   }
  .member-information{
    padding: 15px;
    text-align: center;
  }
  .member-information ul{
    display: flex;
    justify-content: center;
  }
  .member-information p{
    text-align: center;
  }
  .first-member-image:before,.second-member-image:before,.third-member-image:before{
    content: none;
  }

  .first-member-image,.second-member-image,.third-member-image{
    margin-bottom: 20px;
  }
  /* Reset icons   */
.contact-accounts{
  bottom: -10px;
  display: flex;
  left: calc(400px - 170px);
}
.icon{
  width: 45px;
  height: 45px;
  margin:0 20px ;
  transition: color .3s linear;
  background-color: #fff;
  border-radius: 50%;
  color: #ffffff;
  position: relative;
  z-index: 3;
}
.icon:before{
  content: '';
  background-color: #121212;
  width: 65px;
  border-radius: 50%;
  height: 65px;
  position: absolute;
  bottom: -10px !important;
  left: calc((400px / 2 )- 22.5px);
  z-index: -1;
}
.icon:hover{
  color: #667eea;
}

}
@media(max-width:380px){
  .image{
  width: 315px;
  height: 210px;
  background-size:auto;
  border-radius: 12px;
}
.icon{
  width: 30px;
  height: 30px;
  left: -100px;
}
.icon:before{
  content: '';
  width: 50px;
  height: 50px;
}
.member-information p{
  text-align: justify;
}
}

/* */
.team-intro{
  height: 100vh;
  margin:0 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.team-intro button{
  border: none;
  background-color: transparent;
  outline: unset;
  cursor: pointer;
}
.team-intro img{
  height: 150px;
  width: 150px;
  border-radius:50%;
  margin: 20px;
}
.team-images{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#team-name{
  color: #667eea;
  transition: all .4s ease-in-out;
  margin-bottom: 15px;
}
#team-position{
  color: #ea3b6c;
  transition: all .4s ease-in-out;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#team-desc{
  color: #454545;
  transition: all .4s ease-in-out;
  line-height: 1.75;
}