footer{
  padding: 25px 0;
  width: 100vw;
  background: linear-gradient(45deg, black, #292929);
  background-attachment: fixed;
  z-index: 1;
}
footer .footer-main-content{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-evenly;
} 
footer h2{
  color: #fff;
}
footer ul li{
  list-style: none;
  padding: 10px 0;
}
footer ul li a{
  text-decoration: none;
  color: #ea3b6c;
  cursor: pointer;
  transition: color .5s linear;
}
footer ul li a:hover{
  color: #fff;
}
.footer-lower-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-lower-content p{
  text-align: center;
  color: #fff;
}
/*FOOTER */