@font-face{
  src:url('../assets/GothaProReg.otf');
  font-display: block;
  font-family: Gotham;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  overflow-x: hidden;
}
body{
  font-family: Gotham;
}
nav{
  height: 73px;
  width:100%;
}
nav{
  display: flex;
  background-color: white;
  position: relative;
  top: 0;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
}
nav h2{
  color: #667eea;
  font-weight: bold;
}
nav ul li{
  list-style: none;
  float: right;
  margin: 0 15px;
}
nav ul li a{
  text-decoration: none;
  color: #454555;
  transition: color .3s linear;
  position: relative;
}
nav ul li a:hover:before{
  left: 0;
  right: 0;
}
nav ul li a:before{
  content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -12px;
    background: #667eea;
    height: 4px;
    border-radius: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
nav ul li a:hover{
  color: #667eea;
}