main{
  margin-top: 146px;
}
.why-this-app{
  display: block;
  margin: 50px 0;
  padding: 0;
}
.wrapper , .wrapper-nd,.wrapper-th{
  flex-flow: column-reverse wrap !important;
}
.wrapper .right{
  padding: 0;
background-color: #e6f4f1;
border-radius: 24px 24px 0 0 !important;
width: 100%;
justify-content: center;
display: flex;
}
.wrapper .left{
  padding: 15px;
}
.wrapper .left p{
  font-size: 14px;
}
.wrapper .left h1{
  text-align: center;
  font-size: 16px;
}
/* the second  */
.wrapper-nd {
  flex-direction: column-reverse !important;
}
.wrapper-nd .right-nd{
  padding: 0;
background-color: #e6f4f1;
border-radius: 24px 24px 0 0 !important;
width: 100%;
justify-content: center;
display: flex;
}
.wrapper-nd .left-nd{
  padding: 15px;
}
.wrapper-nd .left-nd p{
  font-size: 14px;
}
.wrapper-nd .left-nd h1{
  text-align: center;
  font-size: 16px;
}

/* third */


.wrapper-th .right-th{
 padding: 0;
background-color: #e6f4f1;
border-radius: 24px 24px 0 0 !important;
width: 100%;
justify-content: center;
display: flex;
}
.wrapper-th .left-th{
  padding: 15px;
}
.wrapper-th .left-th p{
  font-size: 14px;
}
.wrapper-th .left-th h1{
  text-align: center;
  font-size: 16px;
}
.img{
  height: 200px;
  width: 200px;
}

/*PRIMARY: '#667eea',
  SECONDARY: '#ff9a83',
  BLACK: '#454555',
  WHITE: '#fff',
  GREY: '#eff0f5', */
@font-face{
  src:url('../assets/GothaProReg.otf');
  font-display: block;
  font-family: Gotham;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  overflow-x: hidden;
}
body{
  font-family: Gotham;
}
nav{
  height: 73px;
  width:100%;
   border: 1px solid #f7f7f7;
}
nav{
  display: flex;
  background-color: white;
  position: relative;
  top: 0;
  z-index: 9999;
  justify-content: space-around;
  align-items: center;
}
nav h2{
  color: #667eea;
  font-weight: bold;
}
nav ul li{
  list-style: none;
  float: right;
  margin: 0 15px;
}
nav ul li a{
  text-decoration: none;
  color: #454555;
  transition: color .3s linear;
  position: relative;
}
nav ul li a:hover:before{
  left: 0;
  right: 0;
}
nav ul li a:before{
  content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -10px;
    background: #667eea;
    height: 3px;
    border-radius: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
nav ul li a:hover{
  color: #667eea;
}

main .hero-information{
  line-height: 1.75;
  line-break: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  transform: translateY(-73px);
}
main .hero-information h1{
  color: #667eea;
}
main .hero-information p{
  color: #454545;
}
main .hero-image{
  border-radius:12px;
  transform: translateY(-73px);
}
main .hero-image .image{
  position: relative;
  z-index: 3;
}
@keyframes floating {
  0% {transform: translateY(10px)}
  50% {transform: translateY(0)}
  100%{transform: translateY(10px)}
}
/* play store button */
.get-app-button{
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 15px;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  border:2px solid #ea3b6c;
  background-color: #ea3b6c;
  border-radius: 12px;
  font-size: 24px;
  color: #fff;
}
.get-app-button div{
  margin: 0 0 0 10px;
}
.get-app-button div p:first-child{
  font-size: 12px;
  text-align: left;
  color: #121212 !important;
  font-weight: 400;
}
.get-app-button div p{
  color: #fff !important;
   font-size: 16px;
   font-weight: bold;
}
.image{
  height: 300px;
  width: 300px;
}
/* play store button*/