/*PRIMARY: '#667eea',
  SECONDARY: '#ff9a83',
  BLACK: '#454555',
  WHITE: '#fff',
  GREY: '#eff0f5', */
@font-face{
  src:url('../assets/GothaProReg.otf');
  font-display: block;
  font-family: Gotham;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  overflow-x: hidden;
}
body{
  font-family: Gotham;
}
nav{
  height: 73px;
  width:100%;
  border: 1px solid #f7f7f7;
}
nav{
  display: flex;
  position: relative;
  top: 0;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
}
nav h2{
  color: #667eea;
  font-weight: bold;
}
nav ul li{
  list-style: none;
  float: right;
  margin: 0 15px;
}
nav ul li a{
  text-decoration: none;
  color: #454555;
  transition: color .3s linear;
  position: relative;
}
nav ul li a:hover:before{
  left: 0;
  right: 0;
}
nav ul li a:before{
  content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -12px;
    background: #667eea;
    height: 4px;
    border-radius: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
nav ul li a:hover{
  color: #667eea;
}
main:before{
  content: '';
  width: 200px;
  height: 200px;
  top: 0;
  right: -100px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  border:20px solid #ea3b6c;
}
main:after{
  content: '';
  width: 200px;
  height: 200px;
  bottom: -100px;
  left: 0;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-color: #eff0f5;
  border:20px solid #eff0f5;
}
main{
width: 100vw !important;
height: 100vh;
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
text-align: center;
}
main .hero-information{
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-break: auto;
}
main mark{
  background-color:#ea3b6c;
  color: #fff;
  font-weight: bold;
}
/* play store button */
.get-app-button{
  display: flex;
  flex-direction: row-reverse;
  padding: 12px 20px;
  align-items: center;
  margin:20px 10px;
  cursor: pointer;
  border: none;
  background-color: #ea3b6c;
  border-radius: 12px;
  font-size: 24px;
  color: #fff;
  transition: background-color .6s linear;
}
.get-app-button:hover{
  background-color: #667eea;
}
.get-app-button div{
  margin: 0 0 0 10px;
}
.get-app-button div p:first-child{
  font-size: 12px;
  text-align: left;
  color: #121212a8 !important;
  font-weight: 400;
}
.get-app-button div p{
  color: #fff !important;
   font-size: 16px;
   font-weight: bold;
}
/* play store button*/
main .hero-information h1{
  color: #667eea;
}
main .hero-information p{
  color: #454545;
}
main .hero-image{
  border-radius:12px;
}
main .hero-image .image{
  height: 400px;
  width: 400px;
  position: relative;
  z-index: 3;
}
.img{
  height: 400px;
  width: 400px;
}
#refelected-img{
  transform: rotateY(180deg);
}
/* Heading  */
.heading{
  background: linear-gradient(45deg, #454555, #292929);
  background-attachment: fixed;
  margin-top: 30px;
  padding: 75px 0;
  text-align: center;
}
.heading h1{
  line-height: 1.75;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ea3b6c;
}
@keyframes floating {
  0% {transform: translateY(10px)}
  50% {transform: translateY(0)}
  100%{transform: translateY(10px)}
}
.why-this-app{
  width: 100%;
  padding:35px 25px;
   display: flex;
   margin:25px 0;
   justify-content: center;
  position: relative;
  align-items: center;
}
.first .wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:0 20px;
}
.wrapper .left{
  line-height: 1.75;
  max-width: 600px;
  padding: 25px;
  margin: 0 25px;
}
.wrapper .left p{
  text-align: justify;
}
.wrapper .left h1{
  font-weight:bold;
  color: #667eea;
}
.wrapper .right{
  position: relative;
  border-radius: 0 24px 24px 0;
}
.wrapper .right:before{
  content: '';
  height: 400px;
  width: 400px;
  top: 0;
  right: -100px;
  z-index: -1;
  position: absolute;
  background-color: #ff9a83;
}
/* the second  */


.second .wrapper-nd{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
  margin:0 20px;
}
.wrapper-nd .left-nd{
  line-height: 1.75;
  max-width: 600px;
  padding: 25px;
  margin: 0 25px;
}
.wrapper-nd .left-nd p{
  text-align: justify;
}
.wrapper-nd .left-nd h1{
  font-weight:bold;
  color: #667eea;
}
.wrapper-nd .right-nd{
  height: 100%;
  padding: 25px;
}
.wrapper-nd .right-nd:before{
  content: '';
  height: 400px;
  width: 400px;
  top: 0;
  left: -100px;
  z-index: -1;
  position: absolute;
  background-color: #ff9a83;
}

/* third */

.third .wrapper-th{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin:0 20px;
}
.wrapper-th .left-th{
  line-height: 1.75;
  max-width: 600px;
  padding: 25px;
  margin: 0 25px;
   background-color: #fff;
}
.wrapper-th .left-th p{
  text-align: justify;
}
.wrapper-th .left-th h1{
  font-weight:bold;
  color: #667eea;
}
.wrapper-th .right-th{
  height: 100%;
  padding: 25px;
}
.wrapper-th .right-th:before{
  content: '';
  height: 400px;
  width: 400px;
  top: -20px;
  right: -100px;
  z-index: -1;
  position: absolute;
  background-color: #ff9a83;
}
/* FOOTER */
footer{
  padding: 25px 0;
  width: 100vw;
  background: linear-gradient(45deg, black, #292929);
  background-attachment: fixed;
  z-index: 1;
}
footer .footer-main-content{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-evenly;
} 
footer h2{
  color: #fff;
}
footer ul li{
  list-style: none;
  padding: 10px 0;
}
footer ul li a{
  color: #ea3b6c;
  cursor: pointer;
  transition: color .5s linear;
}
footer ul li a:hover{
  color: #fff;
}
.footer-lower-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-lower-content p{
  text-align: center;
  color: #fff;
}
/*FOOTER */